In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from pathlib import Path
import numpy as np
from PIL import Image

In [2]:
df = pd.DataFrame(columns=['image_name','class'])

path_meta = "/data3/TEST/A/" #Change the directory
path = Path(path_meta)
im_path = sorted(list(path.rglob('*.png')))
#print(im_path)

im_names = [p.name for p in im_path]
df['image_name'] = im_names
df['class'] = 1

df.head()

# with np.printoptions(linewidth=10000):
#     df.to_csv("scan.csv")

# print(len(df))

       image_name  class
0  A_005fbfn6.png      1
1  A_0060ug9j.png      1
2  A_00el4hwr.png      1
3  A_00h6ucsm.png      1
4  A_00hzao5p.png      1

### Assignement

* Lucas: 0:3333
* Amandine 3333:6666
* Antoine 6666:10080

### Exemple qui affiche un segment de 100 images

In [ ]:
i = 19
step = 50
df_slice = df[i*50:(i+1)*50]
for index, row in df_slice.iterrows():
    image_name = row['image_name']
    plt.figure(figsize=(10,10))
    img = np.asarray(Image.open(path_meta+image_name))
    plt.imshow(img)
    plt.title("index: "+str(index)+"    name: "+image_name,fontweight ="bold") 
    plt.show()
    plt.close()